.button {
  font-family 'Source Sans Pro', 'Lucida Grande', sans-serif
  border 0
  border-radius 4px
  text-align center
  display block
  padding 0 35px
  margin 0 0 4px
  height 47px
  line-height 47px
  color #fff
  font-size 18px
  background #cb3837
  cursor pointer
  text-decoration none !important
  -webkit-appearance none
  clear both
  
  &.full-width {
    width 100%
  }
}

.button.default {
  background-color #212121
  border-color #111
  color #fff
}