header {
  width 100%
  top 0
  display block
  
  .header-nav .inner, .secondary-nav .inner, .header-notice .inner {
    max-width 1120px
    margin 0 auto
  }
}

header .header-nav {
  background-color header-nav-color
  height header-nav-height
  border-bottom 1px solid header-nav-border-color
  
  .logo {
    float left
    
    & > .logo-link {
      background url(http://xat.com/images/xatblk.gif) no-repeat 5px
      background-size 118px 42px
      display block
      height header-nav-height
      width 138px
    }
  }
  
  ul.nav {
    float right
    margin 0
    padding 0
    list-style none
    
    & > li {
      position relative
      float left
      
      & .nav-item-link {
        display block
        padding 20px 0
        width 104px
        height header-nav-height
        border-right 1px solid #111
        border-left 1px solid #111
        box-sizing border-box
        text-align center
      }
      
      & .nav-item-user-link {
        display block
        padding 20px
        width 120px
        height header-nav-height
        box-sizing border-box
        text-align right
      }
      
      & .nav-item-user-avatar {
        display block
        background-image url(https://s.gravatar.com/avatar/d4a2f12ceae3b7f211b661576d22bfb9?size=100&default=retro)
        background-size cover
        position absolute
        height header-nav-height
        width header-nav-height
      }
      
      & .nav-item-link:hover, &:hover .nav-item-user-link {
        color #fff
      }
       
      button {
        background-color transparent
        border 0
        color #ccc
        
        &:focus {
          outline none
        }
      }
      
      &.active .nav-item-link {
        color #fff !important
        background-color header-nav-item-active-color
        border-bottom 2px solid header-nav-item-active-border-color
      }
    }
  }
}

header .secondary-nav {
  position relative
  box-shadow 0px 2px 4px rgba(0,0,0,0.2)
  background-color #fff
  height secondary-nav-height
  
  ul.nav {
    margin 0
    padding 0
    list-style none
    
    & > li {
      position relative
      float left
      
      & > a {
        display block
        padding 12px 0
        width 104px
        height secondary-nav-height
        box-sizing border-box
        text-align center
        color rgba(0,0,0,0.8)
        text-transform uppercase
        font-weight 500
        
        border-bottom 2px solid transparent
      }
      
      &.home.active > a, &.home:hover > a {
        border-color #212121
      }
      
      &.groups.active > a, &.groups:hover > a {
        border-color #009688
      }
      
      &.store.active > a, &.store:hover > a {
        border-color #C62828
      }
    }
  }
}

header .header-notice {
  display none
  background-color header-notice-color
  padding 12px
  
  & .btn-okay {
    position relative
    cursor pointer
    background-color header-notice-btn-color
    text-decoration none
    border-radius 2px
    padding 4px 12px
    float right
    top -4px
    
    &:hover {
      background-color header-notice-btn-hover-color
    }
  }
  
  & a {
    color #000
    text-decoration underline
  }
  
  &.show {
    display block
  }
}