input[type=text], 
input[type=password],
input[type=email] {
  -webkit-appearance none
  font-family 'Source Sans Pro', 'Lucida Grande', sans-serif
  font-size 16px
  display block
  width 100%
  height 38px
  border 1px solid rgba(0,0,0,0.2)
  margin 0 0 20px
  border-radius 4px
  color rgba(0,0,0,0.8)
  outline 0
  padding 5px
  vertical-align middle
}