html,
body {
  margin 0
  padding 0
  color text-color
}

body {
  background-color background-color
}

header {
  width 100%
  top 0
  display block
}

header .header-nav {
  background-color header-nav-color
  height 55px
  border-bottom 1px solid header-nav-border-color
  
  ul.nav {
    margin 0
    padding 0
    list-style none
    
    & > li {
      display inline-block
      position relative
    }
  }
}