html,
body {
  margin 0
  padding 0
  color text-color
}

a {
  color #ccc
  text-decoration none
}

body {
  font 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif
  background-color background-color
}

.clearfix:before,.clearfix:after {
    content " "
    display table
}

.clearfix:after {
    clear both
}

.honey {
  display none
}