html,
body {
  margin 0
  padding 0
  color text-color
}

a {
  text-decoration none
}

body {
  background-color background-color
}

header {
  width 100%
  top 0
  display block
}

header .header-nav {
  background-color header-nav-color
  height header-nav-height
  border-bottom 1px solid header-nav-border-color
  
  ul.nav {
    margin 0
    padding 0
    list-style none
    
    & > li {
      position relative
      float left
      
      & > a {
        display block
        padding 19px 0
        width 104px
        height header-nav-height
        border-right 1px solid #111
        box-sizing border-box
        text-align center
      }
    }
  }
}