background-color = #FFFFFF

header-nav-color = #212121
header-nav-border-color = #292929
header-nav-item-active-color = #191919
header-nav-item-active-border-color = #FBC02D

header-notice-color = #FDD835
header-notice-btn-color = #FBC02D
header-notice-btn-hover-color = #F9A825

header-nav-height = 55px

text-color = #333